<form action="/" method="post">
  <input type="text" name="stake" placeholder="Starting stake">
  <input type="text" name="odds" placeholder="1 to ?">
  <input type="submit" value="Let's Play!">
</form>

<% @games.each do |game| %>
  <div <%= 'class="lost"' if game.lost_game %> >
    Stake is <%= "$#{game.stake}" %>.
    Playing at 1 to <%= "#{game.odds}" %> odds.
    <% if game.wager != 0 %>
      Last wager was <%= "$#{game.wager}" %>
    <% end %>
    Game started <%= "#{game.started.strftime("%m/%d/%Y at %I:%M%p")}" %>.
    <% if game.started != game.last_played %>
      Last played <%= "#{game.last_played.strftime("%m/%d/%Y at %I:%M%p")}" %>.
    <% end %>
    <% if game.lost_game == false %>
      <a href="/<%= game.id %>">Gamblin' time</a>
    <% else %>
      (Lost)
    <% end %>
  </div>
<% end %>